<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Item Shop</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/product/product-list.css">
</head>

<body>
<div class="form-container">
    <form action="/product/product-list" method="GET" id="productSearchForm">
        <div class="form-group">
            <label for="productName">상품 이름</label>
            <input type="text" id="productName" name="productName">
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="mainCategoryCode">메인 카테고리</label>
                <select id="mainCategoryCode" name="mainCategoryCode">
                    <option value="">Select Main Category</option>
                    <option th:each="mainCategory : ${mainCategories}"
                            th:value="${mainCategory.categoryCode}"
                            th:text="${mainCategory.categoryName}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="subCategoryCode">서브 카테고리</label>
                <select id="subCategoryCode" name="subCategoryCode">
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="minPrice">최소 가격</label>
                <input type="number" id="minPrice" name="minPrice" min="0">
            </div>
            <div class="form-group">
                <label for="maxPrice">최대 가격</label>
                <input type="number" id="maxPrice" name="maxPrice" min="0">
            </div>
        </div>
        <div class="form-group radio-group">
            <label>판매 여부</label>
            <label><input type="radio" name="isDisplayed" id="isDisplayedY" value="Y" checked>판매중</label>
            <label><input type="radio" name="isDisplayed" id="isDisplayedN" value="N">판매중단</label>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="startDate">생성일자 이후</label>
                <input type="date" id="startDate" name="startDate">
            </div>
            <div class="form-group">
                <label for="endDate">생성일자 이전</label>
                <input type="date" id="endDate" name="endDate">
            </div>
        </div>
        <button type="submit">검색</button>
    </form>
</div>

<table>
    <tr>
        <th><button class="sort">상품 코드</button></th>
        <th>이미지</th>
        <th><button class="sort">상품 이름</button></th>
        <th><button class="sort">가격</button></th>
        <th>카테고리</th>
        <th>판매 여부</th>
        <th>상품 설명</th>
        <th><button class="sort">등록 일자</button></th>
    </tr>

    <tr th:each="product : ${ productList }">
        <td th:text="${product.productCode}"></td>
        <td><img th:src="${product.image.uuidFilename}" alt="준비중 입니다.."></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.category.categoryName}"></td>
        <td th:text="${product.isDisplayed}"></td>
        <td th:text="${product.productDesc}"></td>
        <td th:text="${product.registrationDate}"></td>
    </tr>
</table>

<script src="/js/product/showCategory.js"></script>
<script>
    $(document).ready(function() {

        $('#productSearchForm').submit(function(event) {
            var minPrice = $('#minPrice').val();
            var maxPrice = $('#maxPrice').val();
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();

            if (minPrice && maxPrice && parseInt(minPrice) > parseInt(maxPrice)) {
                alert('최대 가격은 최소 가격보다 커야 합니다.');
                event.preventDefault();
            }

            if (startDate && endDate && new Date(startDate) > new Date(endDate)) {
                alert('종료 날짜는 시작 날짜 이후여야 합니다.');
                event.preventDefault();
            }
        });
    });
</script>

</body>
</html>
