<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>SB Admin 2 - Dashboard</title>
        <link th:replace="elements/misc/deps :: html" />
    </head>
    <body id="page-top">
        <div id="wrapper">
            <nav th:replace="elements/nav :: body"></nav>
            <!-- left sidebar -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="elements/topbar :: body"></nav>
                    <!-- top navbar -->
                    <div class="container-fluid">
                        <h1 class="h3 mb-4 text-gray-800">Page Name</h1>
                        <!-- 페이지 제목 -->
                        <p class="mb-4">Bootstrap's default utility classes can be found on the official <a href="https://getbootstrap.com/docs">Bootstrap Documentation</a> page. The custom utilities below were created to extend this theme past the default utility classes built into Bootstrap's framework.</p>
                        <!-- 페이지 설명 -->
                        <!-- 이곳에 내용을 채워넣으면 됩니다. start -->
                        <!-- 버튼 추가! -->

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="boardAllSelector" /></th>
                                                <th>번호</th>
                                                <th>제목</th>
                                                <th>작성자</th>
                                                <th>등록일</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item : ${boards}">
                                                <td>
                                                    <!-- <input type="checkbox"/> -->
                                                    <input type="checkbox" class="boardSelection" />
                                                </td>
                                                <td th:text="${item.boardId}"></td>
                                                <td>
	                                                <!-- th:text="${item.title}" -->
	                                                <a th:href="@{'/board/detail/' + ${item.boardId}}" th:text="${item.title}"></a>
                                                </td>
                                                <td th:text="${item.writer}"></td>
                                                <td th:text="${item.createdDate}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

	                    <!-- <button id="deleteAllSelection">선택 삭제</button> -->

                        <a id="deleteAllSelection" class="btn btn-danger btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span class="text">선택항목 삭제</span>
                        </a>
                        <!-- 이곳에 내용을 채워넣으면 됩니다. end -->
                    </div>
                </div>
                <footer th:replace="elements/footer :: footer"></footer>
            </div>
        </div>

        <script>
            // boardAllSelector 클릭 시 모든 boardSelection 체크박스 체크/해제
            $("#boardAllSelector").click(function () {
                if ($(this).is(":checked")) {
                    $(".boardSelection").prop("checked", true);
                } else {
                    $(".boardSelection").prop("checked", false);
                }
            });

            // 각각의 boardSelection 클릭 시 alert로 현재까지 활성화된 boardSelection의 boardId 출력
            $(".boardSelection").click(function () {
                printAllSelections();
            });

            function getAllSelections() {
                var boardIds = [];
                $(".boardSelection").each(function () {
                    if ($(this).is(":checked")) {
                        boardIds.push($(this).parent().next().text());
                    }
                });

                return boardIds;
            }

            $("#deleteAllSelection").click(function () {
                requestDeleteItems();
            });

            // boardIds를 Springcontroller의 PostMapper로 전달
            // /delete로 post 요청을 보내면 boardIds를 전달 - not async(not use ajax)
            function requestDeleteItems() {
                var boardIds = getAllSelections();

                alert(boardIds);
                $.ajax({
                    url: "/board/list/delete",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(boardIds),
                    success: function () {
                        alert("삭제되었습니다.");
                        // redirect to /
                        location.href = "/board/list";
                    },
                    error: function () {
                        alert("삭제에 실패했습니다.");
                    },
                });
            }
        </script>
    </body>
</html>
