<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>nav</title>
    </head>
    <body>
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-lemon"></i>
                </div>
                <div class="sidebar-brand-text mx-3">404 Admin<sup>nf</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0" />

            <!-- Nav Item - Dashboard -->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="index.html">-->
<!--                    <i class="fas fa-fw fa-tachometer-alt"></i>-->
<!--                    <span>Dashboard</span></a-->
<!--                >-->
<!--            </li>-->

            <!-- Divider -->
            <hr class="sidebar-divider" />

            <!-- Heading -->
            <div class="sidebar-heading">MANAGEMENT</div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMember" aria-expanded="true" aria-controls="collapseMember">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>회원관리</span>                                 <!-- menu title -->
                </a>
                <div id="collapseMember" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>         <!-- sub menu title -->
                        <a class="collapse-item" href="buttons.html">회원목록 조회</a>    <!-- sub menu1 -->
                        <a class="collapse-item" href="cards.html">신규회원 등록</a>        <!-- sub menu2 -->
                        <a class="collapse-item" href="cards.html">회원정보 수정 및 삭제</a>        <!-- sub menu2 -->
                    </div>
                </div>
            </li>
            <!-- end of Nav Item - Pages Collapse Menu -->


            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduct" aria-expanded="true" aria-controls="collapseProduct">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>상품정보 관리</span>
                </a>
                <div id="collapseProduct" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>
            <!-- end of Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrder" aria-expanded="true" aria-controls="collapseOrder">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>주문정보 관리</span>
                </a>
                <div id="collapseOrder" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">주문관리메뉴:</h6>
                        <a class="collapse-item" href="/order/orderlist">전체 목록</a>
                        <a class="collapse-item" href="/order/ordersummarylist">주문 결제 정보</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBoard" aria-expanded="true" aria-controls="collapseBoard">
                    <i class="fas fa-fw fa-table"></i>
                    <span>게시판 관리</span>
                </a>
                <div id="collapseBoard" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <!-- 재고 관리 -->
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStock" aria-expanded="true" aria-controls="collapseStock">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>재고 관리</span>
                </a>
                <div id="collapseStock" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">재고관리 기능</h6>
                        <a class="collapse-item" href="/admin/stock/list">제품 입고</a>
                        <a class="collapse-item" href="utilities-border.html">입출고 이력관리</a>
                    </div>
                </div>
            </li>



        </ul>
        <!-- End of Sidebar -->
    </body>
</html>
