<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf404.devshop.product.repository.CategoryMapper">

    <resultMap id="categoryResultMap" type="com.nf404.devshop.product.model.dto.CategoryDto">
        <id property="categoryCode" column="category_code"/>
        <result property="categoryName" column="category_name"/>
        <result property="refCategoryCode" column="ref_category_code"/>
    </resultMap>
    
    <select id="selectMainCategories" resultMap="categoryResultMap">
        SELECT category_code, category_name, ref_category_code
        FROM tbl_category
        WHERE ref_category_code IS NULL
    </select>

    <select id="selectSubCategoriesByParentCategoryCode" resultMap="categoryResultMap">
        SELECT category_code, category_name, ref_category_code
        FROM tbl_category
        WHERE ref_category_code = #{parentId}
    </select>

    <select id="selectAllCategories" resultMap="categoryResultMap">
        SELECT * FROM tbl_category
    </select>

    <insert id="insertCategory">
        insert into tbl_category (category_name, ref_category_code)
        values (#{categoryName}, #{refCategoryCode})
    </insert>

    <update id="updateCategory">
        update tbl_category
        set category_name = #{categoryName}, ref_category_code = #{refCategoryCode}
        where category_code = #{categoryCode}
    </update>

    <delete id="deleteCategory">
        delete from tbl_category
        where category_code = #{categoryCode}
    </delete>

    <select id="countCategoriesByName" resultType="_int">
        select count(*)
        from tbl_category
        where category_name = #{categoryName}
    </select>

    <select id="countCategoriesByNameAndCode" resultType="_int">
        select count(*)
        from tbl_category
        where category_name = #{categoryName}
          AND category_code != #{categoryCode}
    </select>

    <select id="selectCategoryByCode" resultMap="categoryResultMap">
        select * from tbl_category
        where category_code = #{categoryCode}
    </select>

    <select id="countSubCategoriesByCode" resultType="_int">
        select count(*)
        from tbl_category
        where ref_category_code = #{categoryCode}
    </select>

</mapper>