<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf404.devshop.product.repository.CategoryMapper">

    <resultMap id="categoryResultMap" type="com.nf404.devshop.product.dto.res.CategoryDto">
        <id property="categoryCode" column="category_code"/>
        <result property="categoryName" column="category_name"/>
        <result property="refCategoryCode" column="ref_category_code"/>
    </resultMap>
    
    <select id="getMainCategory" resultMap="categoryResultMap">
        SELECT category_code, category_name, ref_category_code
        FROM tbl_category
        WHERE ref_category_code IS NULL
    </select>

    <select id="getByRefCategoryCode" resultMap="categoryResultMap">
        SELECT category_code, category_name, ref_category_code
        FROM tbl_category
        WHERE ref_category_code = #{parentId}
    </select>

</mapper>