<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf404.devshop.product.repository.ImageMapper">

    <insert id="insertImageInfo">
        insert into tbl_product_image (uuid_filename, origin_filename)
        values (#{uuidFilename}, #{originFilename})

        <selectKey keyProperty="thumbnailPath" order="AFTER" resultType="_int">
            select last_insert_id()
        </selectKey>
    </insert>

    <update id="updateImageInfo" parameterType="map">
        update tbl_product_image as img
        join tbl_product as prod on img.thumbnail_path = prod.thumbnail_path
        set img.uuid_filename = #{image.uuidFilename},
        img.origin_filename = #{image.originFilename}
        where prod.product_code = #{productCode}
    </update>

</mapper>
