<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf404.devshop.order.model.dao.OrderMapper">
    <resultMap id="orderResultMap" type="com.nf404.devshop.order.model.dto.OrderDTO">
        <id property="orderNo" column="ORDER_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="orderTotalPrice" column="ORDER_TOTALPRICE"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="orderStatus" column="ORDER_STATUS"/>
        <association property="userInfo" resultMap="userInfoMap"/>
        <collection property="orderItems" resultMap="orderItemsMap"/>
    </resultMap>
    <resultMap id="orderItemsMap" type="com.nf404.devshop.order.model.dto.OrderItemDTO">
        <id property="orderNo" column="ORDER_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="productCode" column="PRODUCT_CODE"/>
        <result property="orderItemQuantity" column="ORDER_ITEM_QUANTITY"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="price" column="PRICE"/>
    </resultMap>
    <resultMap id="userInfoMap" type="com.nf404.devshop.user.model.UserDTO">
        <id property="userNo" column="USER_NO"/>
        <result property="userId" column="USER_ID"/>
        <result property="userPw" column="USER_PW"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userAddr" column="USER_ADDR"/>
        <result property="userPhone" column="USER_PHONE"/>
        <result property="userDate" column="USER_DATE"/>
        <result property="userRank" column="USER_RANK"/>
    </resultMap>

    <select id="findAllOrder" resultMap="orderResultMap">
        SELECT
            o.order_no,
            o.user_no,
            u.user_id,
            u.user_name,
            u.user_addr,
            o.order_totalprice,
            o.created_at,
            o.order_status,
            oi.product_code,
            oi.order_item_quantity,
            p.product_name,
            p.price
        FROM
            tbl_order o
        JOIN
            tbl_user u ON o.user_no = u.user_no
        LEFT JOIN
        tbl_orderitem oi ON o.order_no = oi.order_no
        LEFT JOIN
        tbl_product p ON oi.product_code = p.product_code
<!--        WHERE o.order_status = '주문접수'-->
        ORDER BY
            o.order_no
    </select>
    <select id="searchOrders" resultMap="orderResultMap">
        SELECT
            o.order_no,
            o.user_no,
            u.user_id,
            u.user_name,
            u.user_addr,
            o.order_totalprice,
            o.created_at,
            o.order_status,
            oi.product_code,
            oi.order_item_quantity,
            p.product_name,
            p.price
        FROM tbl_order o
        JOIN tbl_user u ON o.user_no = u.user_no
        LEFT JOIN tbl_orderitem oi ON o.order_no = oi.order_no
        LEFT JOIN tbl_product p ON oi.product_code = p.product_code
        WHERE
            o.order_no LIKE CONCAT('%', #{searchTerm}, '%') OR
            o.user_no LIKE CONCAT('%', #{searchTerm}, '%') OR
            u.user_id LIKE CONCAT('%', #{searchTerm}, '%') OR
            u.user_name LIKE CONCAT('%', #{searchTerm}, '%') OR
            u.user_addr LIKE CONCAT('%', #{searchTerm}, '%') OR
            o.order_totalprice LIKE CONCAT('%', #{searchTerm}, '%') OR
            o.created_at LIKE CONCAT('%', #{searchTerm}, '%') OR
            o.order_status LIKE CONCAT('%', #{searchTerm}, '%') OR
            p.product_name LIKE CONCAT('%', #{searchTerm}, '%') OR
            oi.product_code LIKE CONCAT('%', #{searchTerm}, '%')
        ORDER BY
            o.order_no
    </select>
    <select id="findOrderDetailByOrderNo" resultType="com.nf404.devshop.order.model.dto.OrderItemDTO">
        SELECT o.order_no,u.user_no, i.product_code, p.product_name, i.order_item_quantity, p.price
        FROM tbl_order o
        JOIN tbl_user u ON o.user_no = u.user_no
        JOIN tbl_orderitem i ON o.order_no = i.order_no
        JOIN tbl_product p ON i.product_code = p.product_code
        WHERE o.order_no = #{ orderNo }
    </select>

</mapper>